.shopping-item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
}
.shopping-icon{
    width: 24px;
    height: 24px;
}
.shopping-item-count{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 14px;
}